<div class="">
  <div class="text-center">
    <h1>Outline</h1>
    <div class="row justify-content-center m-0">
      <div class="col-sm-4 mb-3">
        <input type="text" class="form-control" id="outline-title" placeholder="Outline Title (Required)"
          value="{{outline.title}}" />
      </div>
    </div>
  </div>
  <div id="outlineSection" class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            1
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="comfortZone">Comfort Zone</label>
              <textarea class="form-control" id="comfortZone" rows="5">{{outline.comfort_zone}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            2
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="characterDesire">Character Desire</label>
              <textarea class="form-control" id="characterDesire" rows="5">{{outline.character_desire}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            3
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="newSituation">Enter Unfamiliar Situation</label>
              <textarea class="form-control" id="newSituation" rows="5">{{outline.new_situation}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            4
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="characterAdapts">Character Adapts</label>
              <textarea class="form-control" id="characterAdapts" rows="5">{{outline.character_adapts}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            5
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="getsDesire">Gets Desire</label>
              <textarea class="form-control" id="getsDesire" rows="5">{{outline.gets_desire}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            6
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="heavyPrice">Pay Heavy Price</label>
              <textarea class="form-control" id="heavyPrice" rows="5">{{outline.heavy_price}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            7
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="familiarSituation">Return to Familiar Situation</label>
              <textarea class="form-control" id="familiarSituation" rows="5">{{outline.familiar_situation}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            8
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="characterChanged">Character Changed</label>
              <textarea class="form-control" id="characterChanged" rows="5">{{outline.character_changed}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-sm-12">
      <div class="d-grid gap-2 col-6 mx-auto text-center mb-3">
        <button class="btn btn-success" id="singlebutton" data-id="{{outline.id}}">Save Outline</button>
      </div>
    </div>
  </div>
</div>
<form id="regForm" action="">
  <h1>Outline Wizard</h1>
  <!-- One "tab" for each step in the form: -->
  <div class="tab" style="display: none;">Name:
    <div class="form-group">
      <label for="comfortZoneWiz">Comfort Zone</label>
      <textarea class="form-control" id="comfortZoneWiz" rows="5">{{outline.comfort_zone}}</textarea>
    </div>
  </div>
  <div class="tab" style="display: none;">Contact Info:
    <div class="form-group">
      <label for="characterDesireWiz">Character Desire</label>
      <textarea class="form-control" id="characterDesireWiz" rows="5">{{outline.character_desire}}</textarea>
    </div>
  </div>
  <div class="tab" style="display: none;">Login Info:
    <div class="form-group">
      <label for="newSituationWiz">Enter Unfamiliar Situation</label>
      <textarea class="form-control" id="newSituationWiz" rows="5">{{outline.new_situation}}</textarea>
    </div>
  </div>
  <div class="tab" style="display: none;">Birthday:
    <div class="form-group">
      <label for="characterAdaptsWiz">Character Adapts</label>
      <textarea class="form-control" id="characterAdaptsWiz" rows="5">{{outline.character_adapts}}</textarea>
    </div>
  </div>
  <div class="tab" style="display: none;">Login Info:
    <div class="form-group">
      <label for="getsDesireWiz">Gets Desire</label>
      <textarea class="form-control" id="getsDesireWiz" rows="5">{{outline.gets_desire}}</textarea>
    </div>
  </div>
  <div class="tab" style="display: none;">Login Info:
    <div class="form-group">
      <label for="heavyPriceWiz">Pay Heavy Price</label>
      <textarea class="form-control" id="heavyPriceWiz" rows="5">{{outline.heavy_price}}</textarea>
    </div>
  </div>
  <div class="tab" style="display: none;">Login Info:
    <div class="form-group">
      <label for="familiarSituationWiz">Return to Familiar Situation</label>
      <textarea class="form-control" id="familiarSituationWiz" rows="5">{{outline.familiar_situation}}</textarea>
    </div>
  </div>
  <div class="tab" style="display: none;">Login Info:
    <div class="form-group">
      <label for="characterChangedWiz">Character Changed</label>
      <textarea class="form-control" id="characterChangedWiz" rows="5">{{outline.character_changed}}</textarea>
    </div>
  </div>
  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn">Previous</button>
      <button type="button" id="nextBtn">Next</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div class="step-indicator">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>
<script src="/javascript/outline.js"></script>