<div class="d-none" id="outline-form">
  <div class="text-center">
    <h1>Outline</h1>
    <div class="row justify-content-center m-0">
      <div class="col-sm-4 mb-3">
        <input type="text" class="form-control" id="outline-title" placeholder="Outline Title (Required)"
          value="{{outline.title}}" />
      </div>
    </div>
  </div>
  <div id="outlineSection" class="container">
    <div class="d-flex mb-1 justify-content-end">
      <button class="btn btn-dark wizard-btn" id="wizard-btn"><i class="fa-solid fa-hat-wizard"></i> Wizard</button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            1
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="comfortZone">Comfort Zone</label>
              <textarea class="form-control" id="comfortZone" rows="5">{{outline.comfort_zone}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            2
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="characterDesire">Character Desire</label>
              <textarea class="form-control" id="characterDesire" rows="5">{{outline.character_desire}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            3
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="newSituation">Enter Unfamiliar Situation</label>
              <textarea class="form-control" id="newSituation" rows="5">{{outline.new_situation}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            4
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="characterAdapts">Character Adapts</label>
              <textarea class="form-control" id="characterAdapts" rows="5">{{outline.character_adapts}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            5
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="getsDesire">Gets Desire</label>
              <textarea class="form-control" id="getsDesire" rows="5">{{outline.gets_desire}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            6
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="heavyPrice">Pay Heavy Price</label>
              <textarea class="form-control" id="heavyPrice" rows="5">{{outline.heavy_price}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            7
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="familiarSituation">Return to Familiar Situation</label>
              <textarea class="form-control" id="familiarSituation" rows="5">{{outline.familiar_situation}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            8
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="characterChanged">Character Changed</label>
              <textarea class="form-control" id="characterChanged" rows="5">{{outline.character_changed}}</textarea>
            </div>
            <button class="btn btn-danger mt-1 clear-btn">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-sm-12">
      <div class="d-grid gap-2 col-6 mx-auto text-center mb-3">
        <button class="btn btn-success" id="singlebutton" data-id="{{outline.id}}">Save Outline</button>
      </div>
    </div>
  </div>
</div>
<form class="container d-none" id="wizard-form">
  <h1 class="mb-4">Outline Wizard</h1>
  <h2 class="text-center">{{outline.title}}</h2>
  <!-- One "tab" for each step in the form: -->
  <div class="col-12 mx-auto">
    <div class="tab">
      <div class="card">
        <div class="text-center card-header">
          <label class="h3" for="comfortZoneWiz">Step 1: Comfort Zone</label>
        </div>
        <div class="card-body">
          <p>Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sapiente quia est sint sed
            illum ea, aliquam iusto ab veniam optio, atque sunt sequi aspernatur corporis adipisci! Earum, consectetur
            nam.</p>
          <textarea class="form-control" id="comfortZoneWiz" rows="5">{{outline.comfort_zone}}</textarea>
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="card">
        <div class="text-center card-header">
          <label class="h3" for="characterDesireWiz">Step 2: Character Desire</label>
        </div>
        <div class="card-body">
          <p>Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sapiente quia est sint sed
            illum ea, aliquam iusto ab veniam optio, atque sunt sequi aspernatur corporis adipisci! Earum, consectetur
            nam.</p>
          <textarea class="form-control" id="characterDesireWiz" rows="5">{{outline.character_desire}}</textarea>
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="card">
        <div class="text-center card-header">
          <label class="h3" for="newSituationWiz">Step 3: Enter Unfamiliar Situation</label>
        </div>
        <div class="card-body">
          <p>Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sapiente quia est sint sed
            illum ea, aliquam iusto ab veniam optio, atque sunt sequi aspernatur corporis adipisci! Earum, consectetur
            nam.</p>
          <textarea class="form-control" id="newSituationWiz" rows="5">{{outline.new_situation}}</textarea>
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="card">
        <div class="text-center card-header">
          <label class="h3" for="characterAdaptsWiz">Step 4: Character Adapts</label>
        </div>
        <div class="card-body">
          <p>Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sapiente quia est sint sed
            illum ea, aliquam iusto ab veniam optio, atque sunt sequi aspernatur corporis adipisci! Earum, consectetur
            nam.</p>
          <textarea class="form-control" id="characterAdaptsWiz" rows="5">{{outline.character_adapts}}</textarea>
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="card">
        <div class="text-center card-header">
          <label class="h3" for="getsDesireWiz">Step 5: Gets Desire</label>
        </div>
        <div class="card-body">
          <p>Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sapiente quia est sint sed
            illum ea, aliquam iusto ab veniam optio, atque sunt sequi aspernatur corporis adipisci! Earum, consectetur
            nam.</p>
          <textarea class="form-control" id="getsDesireWiz" rows="5">{{outline.gets_desire}}</textarea>
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="card">
        <div class="text-center card-header">
          <label class="h3" for="heavyPriceWiz">Step 6: Pay Heavy Price</label>
        </div>
        <div class="card-body">
          <p>Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sapiente quia est sint sed
            illum ea, aliquam iusto ab veniam optio, atque sunt sequi aspernatur corporis adipisci! Earum, consectetur
            nam.</p>
          <textarea class="form-control" id="heavyPriceWiz" rows="5">{{outline.heavy_price}}</textarea>
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="card">
        <div class="text-center card-header">
          <label class="h3" for="familiarSituationWiz">Step 7: Return to Familiar Situation</label>
        </div>
        <div class="card-body">
          <p>Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sapiente quia est sint sed
            illum ea, aliquam iusto ab veniam optio, atque sunt sequi aspernatur corporis adipisci! Earum, consectetur
            nam.</p>
          <textarea class="form-control" id="familiarSituationWiz" rows="5">{{outline.familiar_situation}}</textarea>
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="card">
        <div class="text-center card-header">
          <label class="h3" for="characterChangedWiz">Step 8: Character Changed</label>
        </div>
        <div class="card-body">
          <p>Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sapiente quia est sint sed
            illum ea, aliquam iusto ab veniam optio, atque sunt sequi aspernatur corporis adipisci! Earum, consectetur
            nam.</p>
          <textarea class="form-control" id="characterChangedWiz" rows="5">{{outline.character_changed}}</textarea>
        </div>
      </div>
    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button class="btn btn-success mt-1 shadow-none" type="button" id="prevBtn">Previous</button>
        <button class="btn btn-success mt-1 shadow-none" type="button" id="nextBtn">Next</button>
      </div>
      <div style="float: left;">
        <button class="btn btn-secondary mt-1 shadow-none" type="button" id="exit-btn">Exit</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div class="step-indicator">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </div>
</form>
<script src="/javascript/outline.js"></script>